.paper-wallet {
    height: 350px;
    width: 1024px!Important;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.paper-wallet > * {
    position: absolute;
}

.paper-wallet--logo {
    max-width: 25%;
    margin: 0 auto;
}

.paper-wallet--background {
    object-fit: none; /* Do not scale the image */
    object-position: center; /* Center the image within the element */
    height: 100%;
    width: 100%;
}

.paper-wallet--qr {
    top: 80px;
    height: 200px;
    width: 200px;
    padding: 4px;
    background-color: #ffffff;
}
.paper-wallet--pvt-seed-qr,
.paper-wallet--pvt-seed-txt {
    left: 60px;
}
.paper-wallet--pub-addr-qr,
.paper-wallet--pub-addr-txt {
    right: 60px;
}

.paper-wallet--txt {
    top: 55px;
    width: 200px;
    text-align: center;
    color: #ffffff;
    font-size: 12px;
    font-family: 'Nunito';
}