@media print {
    .noprint,
    .noprint * {
      display: none;
    }
    .print,
    .print * {
      display: block;
    }
    .hidden.print {
      display: block !important;
  }
  @page { size: landscape; }
  body {transform: scale(.5);}
}